# Book Recommender System in Tensorflow

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn import preprocessing
from sklearn.metrics import precision_score
from sklearn.model_selection import train_test_split
from sqlalchemy import create_engine

In [2]:
k = 10

epochs = 10
display_step = 10

learning_rate = 0.3

batch_size = 25

### Reading Dataset and splitting it in a training set and a test set

In [3]:
sql = 'SELECT user_id, book_id, rating, date_created FROM public."Reviews"'

engine = create_engine('postgresql://ece651_ml:TVL3MV0mguz0DOhLbbm2@localhost:5432/ece651')

# Reading dataset

df = pd.pandas.read_sql(sql, engine)

y = df.date_created
df = df.drop('date_created', axis=1)

df.columns = ['user', 'book', 'rating']

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2)

train_data = X_train
test_data = X_test

num_books = df.book.nunique()
num_users = df.user.nunique()

print("USERS: {} BOOKS: {}".format(num_users, num_books))
print(df.head(5))

USERS: 148 BOOKS: 48
   user  book  rating
0  2292   360       5
1  2293   360       5
2  2294   360       5
3  2297   655       4
4  2295   360       5

### Loading training set with three columns: user, book and ratings

In [4]:
# Normalize in [0, 1]

u = df['user'].values.astype(float)

user_min = u.min()
user_range = u.max() - u.min()

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(u.reshape(-1,1))
df_normalized = pd.DataFrame(x_scaled)
df['user'] = df_normalized


b = df['book'].values.astype(float)

book_min = b.min()
book_range = b.max() - b.min()

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(b.reshape(-1,1))
df_normalized = pd.DataFrame(x_scaled)
df['book'] = df_normalized

r = df['rating'].values.astype(float)

rating_min = r.min()
rating_range = r.max() - r.min()

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(r.reshape(-1,1))
df_normalized = pd.DataFrame(x_scaled)
df['rating'] = df_normalized

### Convert DataFrame in user-item matrix

In [5]:
matrix = df.pivot(index='user', columns='book', values='rating')
matrix.fillna(0, inplace=True)

### Users and items ordered as they are in matrix

In [6]:
users = matrix.index.tolist()
books = matrix.columns.tolist()

matrix = matrix.values

print("Matrix shape: {}".format(matrix.shape))

Matrix shape: (148, 48)

### Network Parameters

In [7]:
num_input = num_books   # num of items
num_hidden_1 = 10       # 1st layer num features
num_hidden_2 = 5        # 2nd layer num features (the latent dim)

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

### Building the encoder

In [8]:
def encoder(x):
    # Encoder Hidden layer with sigmoid activation #1
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    # Encoder Hidden layer with sigmoid activation #2
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

### Building the decoder

In [9]:
def decoder(x):
    # Decoder Hidden layer with sigmoid activation #1
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    # Decoder Hidden layer with sigmoid activation #2
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

### Construct model

In [10]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)

### Prediction

In [11]:
y_pred = decoder_op

### Targets are the input data.

In [12]:
y_true = X

### Define loss and optimizer, minimize the squared error

In [13]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(learning_rate).minimize(loss)

predictions = pd.DataFrame()

### Define evaluation metrics

In [14]:
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

### Initialize the variables

In [15]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()

### Train the Model

In [16]:
with tf.Session() as session:
    session.run(init)
    session.run(local_init)

    num_batches = int(matrix.shape[0] / batch_size)
    matrix = np.array_split(matrix, num_batches)

    for i in range(epochs):

        avg_cost = 0

        for batch in matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("Epoch: {} Loss: {}".format(i + 1, avg_cost))

        # if i % display_step == 0 or i == 1:
        #     print('Step %i: Minibatch Loss: %f' % (i, l))

    print("Predictions...")

    matrix = np.concatenate(matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: matrix})

    # print(matrix)
    # print(preds)
    
    predictions = predictions.append(pd.DataFrame(preds))

    predictions = predictions.stack().reset_index(name='rating')
    predictions.columns = ['user', 'book', 'rating']
    predictions['user'] = predictions['user'].map(lambda value: users[value])
    predictions['book'] = predictions['book'].map(lambda value: books[value])

    print(predictions)
    print(predictions.shape)
    
    keys = ['user', 'book']
    i1 = predictions.set_index(keys).index
    i2 = df.set_index(keys).index

    recs = predictions[~i1.isin(i2)]
    recs = recs.sort_values(['user', 'rating'], ascending=[True, False])
    recs = recs.groupby('user').head(k)
    recs.to_csv('prediction.csv', sep=',', index=False, header=False)

Epoch: 1 Loss: 0.2881975889205933
Epoch: 2 Loss: 0.2801840126514435
Epoch: 3 Loss: 0.26992473006248474
Epoch: 4 Loss: 0.2569717049598694
Epoch: 5 Loss: 0.24099892377853394
Epoch: 6 Loss: 0.22202349603176116
Epoch: 7 Loss: 0.20064938068389893
Epoch: 8 Loss: 0.1780973941087723
Epoch: 9 Loss: 0.15590440034866332
Epoch: 10 Loss: 0.1356637328863144
Predictions...
      user      book    rating
0      0.0  0.000000  0.232789
1      0.0  0.167143  0.203801
2      0.0  0.176429  0.033362
3      0.0  0.177857  0.167066
4      0.0  0.180000  0.264504
5      0.0  0.181429  0.259814
6      0.0  0.182857  0.225477
7      0.0  0.211429  0.983059
8      0.0  0.377857  0.005208
9      0.0  0.378571  0.282132
10     0.0  0.382857  0.096633
11     0.0  0.383571  0.229775
12     0.0  0.384286  0.992249
13     0.0  0.388571  0.330127
14     0.0  0.389286  0.062630
15     0.0  0.390714  0.125131
16     0.0  0.391429  0.153568
17     0.0  0.392143  0.505932
18     0.0  0.393571  0.010715
19     0.0  0.465000  0.213820
20     0.0  0.465714  0.061123
21     0.0  0.466429  0.265443
22     0.0  0.467143  0.035122
23     0.0  0.467857  0.016117
24     0.0  0.472143  0.185823
25     0.0  0.472857  0.223617
26     0.0  0.473571  0.261216
27     0.0  0.474286  0.420252
28     0.0  0.475000  0.120177
29     0.0  0.476429  0.220066
...    ...       ...       ...
7074   1.0  0.393571  0.009958
7075   1.0  0.465000  0.202485
7076   1.0  0.465714  0.061047
7077   1.0  0.466429  0.259909
7078   1.0  0.467143  0.033881
7079   1.0  0.467857  0.014991
7080   1.0  0.472143  0.182502
7081   1.0  0.472857  0.212181
7082   1.0  0.473571  0.266468
7083   1.0  0.474286  0.415569
7084   1.0  0.475000  0.116860
7085   1.0  0.476429  0.215179
7086   1.0  0.477857  0.818196
7087   1.0  0.478571  0.982656
7088   1.0  0.479286  0.168265
7089   1.0  0.493571  0.345182
7090   1.0  0.503571  0.254154
7091   1.0  0.507143  0.197859
7092   1.0  0.551429  0.098269
7093   1.0  0.552143  0.182544
7094   1.0  0.556429  0.113094
7095   1.0  0.557143  0.182320
7096   1.0  0.774286  0.154759
7097   1.0  0.844286  0.028856
7098   1.0  0.891429  0.153031
7099   1.0  0.898571  0.214008
7100   1.0  0.899286  0.245111
7101   1.0  0.900714  0.063510
7102   1.0  0.924286  0.009601
7103   1.0  1.000000  0.237400

[7104 rows x 3 columns]
(7104, 3)

In [17]:
recs['user'] = recs['user'] * user_range + user_min
recs['book'] = recs['book'] * book_range + book_min

recs.sort_values(['user', 'rating'], ascending=[True, False])

        user   book    rating
12       1.0  664.0  0.992249
7        1.0  422.0  0.983059
31       1.0  796.0  0.982516
30       1.0  795.0  0.820607
17       1.0  675.0  0.505932
27       1.0  790.0  0.420252
33       1.0  817.0  0.347562
13       1.0  670.0  0.330127
9        1.0  656.0  0.282132
21       1.0  779.0  0.265443
60    2292.0  664.0  0.992799
55    2292.0  422.0  0.984120
79    2292.0  796.0  0.983594
78    2292.0  795.0  0.822549
65    2292.0  675.0  0.474564
75    2292.0  790.0  0.402740
81    2292.0  817.0  0.338556
61    2292.0  670.0  0.329921
52    2292.0  378.0  0.284020
69    2292.0  779.0  0.275426
108   2293.0  664.0  0.992799
103   2293.0  422.0  0.984120
127   2293.0  796.0  0.983594
126   2293.0  795.0  0.822549
113   2293.0  675.0  0.474564
123   2293.0  790.0  0.402740
129   2293.0  817.0  0.338556
109   2293.0  670.0  0.329921
100   2293.0  378.0  0.284020
117   2293.0  779.0  0.275426
...      ...    ...       ...
6972  2521.0  664.0  0.992383
6967  2521.0  422.0  0.983343
6991  2521.0  796.0  0.982926
6990  2521.0  795.0  0.817478
6977  2521.0  675.0  0.476849
6987  2521.0  790.0  0.408326
6993  2521.0  817.0  0.339260
6973  2521.0  670.0  0.326735
6986  2521.0  789.0  0.272872
6964  2521.0  378.0  0.272642
7020  2522.0  664.0  0.992375
7015  2522.0  422.0  0.983323
7039  2522.0  796.0  0.983000
7038  2522.0  795.0  0.817730
7025  2522.0  675.0  0.475206
7035  2522.0  790.0  0.409078
7041  2522.0  817.0  0.340756
7021  2522.0  670.0  0.325187
7034  2522.0  789.0  0.272464
7012  2522.0  378.0  0.272344
7068  2533.0  664.0  0.992193
7063  2533.0  422.0  0.982999
7087  2533.0  796.0  0.982656
7086  2533.0  795.0  0.818196
7073  2533.0  675.0  0.491081
7083  2533.0  790.0  0.415569
7089  2533.0  817.0  0.345182
7069  2533.0  670.0  0.325573
7065  2533.0  656.0  0.279147
7061  2533.0  380.0  0.267439

[1480 rows x 3 columns]

In [18]:
recs.loc[recs['user'] == 2380]

        user   book    rating
3516  2380.0  664.0  0.993005
3511  2380.0  422.0  0.984341
3535  2380.0  796.0  0.984337
3534  2380.0  795.0  0.823995
3521  2380.0  675.0  0.452713
3531  2380.0  790.0  0.401951
3537  2380.0  817.0  0.343319
3508  2380.0  378.0  0.287240
3530  2380.0  789.0  0.275430
3525  2380.0  779.0  0.274169

In [19]:
recs.loc[recs['user'] == 2380]['book']

3516    664.0
3511    422.0
3535    796.0
3534    795.0
3521    675.0
3531    790.0
3537    817.0
3508    378.0
3530    789.0
3525    779.0
Name: book, dtype: float64

In [20]:
user_2380_top = recs.loc[recs['user'] == 2380]

expected_2380_book_ids = [382,670,662,375,677];
for x in expected_2380_book_ids:
    if x not in user_2380_top['book'].values.round(): 
        print(f'Couldn\'t find {x} for user 2380')

Couldn't find 382 for user 2380
Couldn't find 670 for user 2380
Couldn't find 662 for user 2380
Couldn't find 375 for user 2380
Couldn't find 677 for user 2380

In [21]:
recs.loc[recs['user'] == 1]

    user   book    rating
12   1.0  664.0  0.992249
7    1.0  422.0  0.983059
31   1.0  796.0  0.982516
30   1.0  795.0  0.820607
17   1.0  675.0  0.505932
27   1.0  790.0  0.420252
33   1.0  817.0  0.347562
13   1.0  670.0  0.330127
9    1.0  656.0  0.282132
21   1.0  779.0  0.265443

In [22]:
recs.loc[recs['user'] == 1]['book']

12    664.0
7     422.0
31    796.0
30    795.0
17    675.0
27    790.0
33    817.0
13    670.0
9     656.0
21    779.0
Name: book, dtype: float64

In [23]:
user_1_top = recs.loc[recs['user'] == 1].head(10)

expected_1_book_ids = [1387,1374,1420,1526,1308,1384,1210,1385];
for x in expected_1_book_ids:
    if x not in user_1_top['book'].values.round(): 
        print(f'Couldn\'t find {x} for user 1')

Couldn't find 1387 for user 1
Couldn't find 1374 for user 1
Couldn't find 1420 for user 1
Couldn't find 1526 for user 1
Couldn't find 1308 for user 1
Couldn't find 1384 for user 1
Couldn't find 1210 for user 1
Couldn't find 1385 for user 1