# Book Recommender System in Tensorflow

In [131]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn import preprocessing
from sklearn.metrics import precision_score
from sklearn.model_selection import train_test_split
from sqlalchemy import create_engine

In [132]:
k = 900

epochs = 100
display_step = 10

learning_rate = 0.3

batch_size = 25

In [133]:
sql_reviews = 'SELECT user_id, book_id, rating, date_created FROM public."Reviews"'

sql_books = 'SELECT book_id FROM public."Books"'

engine = create_engine('postgresql://ece651_ml:TVL3MV0mguz0DOhLbbm2@localhost:5432/ece651')

df = pd.pandas.read_sql(sql_reviews, engine)
df_books = pd.pandas.read_sql(sql_books, engine)

In [134]:
df

     user_id  book_id  rating               date_created
0       2292      360       5 2019-03-11 12:26:14.930797
1       2293      360       5 2019-03-11 12:26:14.930797
2       2294      360       5 2019-03-11 12:26:14.930797
3       2297      655       4 2019-03-11 12:26:14.930797
4       2295      360       5 2019-03-11 12:26:14.930797
5       2307      777       5 2019-03-11 12:26:14.930797
6       2296      360       4 2019-03-11 12:26:14.930797
7       2297      360       4 2019-03-11 12:26:14.930797
8       2298      360       5 2019-03-11 12:26:14.930797
9       2318      780       5 2019-03-11 12:26:14.930797
10      2293      655       5 2019-03-11 12:26:14.930797
11      2294      655       5 2019-03-11 12:26:14.930797
12      2352      795       5 2019-03-11 12:26:14.930797
13      2292      655       5 2019-03-11 12:26:14.930797
14      2295      655       5 2019-03-11 12:26:14.930797
15      2296      655       4 2019-03-11 12:26:14.930797
16      2501      899       5 2019-03-11 12:26:14.930797
17      2502      899       5 2019-03-11 12:26:14.930797
18      2503      899       5 2019-03-11 12:26:14.930797
19      2298      655       5 2019-03-11 12:26:14.930797
20      2300      777       5 2019-03-11 12:26:14.930797
21      2308      778       5 2019-03-11 12:26:14.930797
22      2301      777       5 2019-03-11 12:26:14.930797
23      2302      777       3 2019-03-11 12:26:14.930797
24      2303      777       5 2019-03-11 12:26:14.930797
25      2304      777       5 2019-03-11 12:26:14.930797
26      2305      777       5 2019-03-11 12:26:14.930797
27      2504      899       5 2019-03-11 12:26:14.930797
28      2505      899       4 2019-03-11 12:26:14.930797
29      2306      777       5 2019-03-11 12:26:14.930797
..       ...      ...     ...                        ...
204     2415      675       4 2019-03-11 12:26:14.930797
205     2424      677       2 2019-03-11 12:26:14.930797
206     2425      677       3 2019-03-11 12:26:14.930797
207     2495      898       5 2019-03-11 12:26:14.930797
208     2428      677       3 2019-03-11 12:26:14.930797
209     2499      899       5 2019-03-11 12:26:14.930797
210     2488      898       5 2019-03-11 12:26:14.930797
211     2489      898       5 2019-03-11 12:26:14.930797
212     2490      898       5 2019-03-11 12:26:14.930797
213     2491      898       5 2019-03-11 12:26:14.930797
214     2492      898       4 2019-03-11 12:26:14.930797
215     2323      899       5 2019-03-11 12:26:14.930797
216     2500      899       3 2019-03-11 12:26:14.930797
217     2515      905       5 2019-03-11 12:26:14.930797
218     2516      905       5 2019-03-11 12:26:14.930797
219     2517      905       5 2019-03-11 12:26:14.930797
220     2518      905       5 2019-03-11 12:26:14.930797
221     2519      905       5 2019-03-11 12:26:14.930797
222     2520      905       5 2019-03-11 12:26:14.930797
223     2521      905       4 2019-03-11 12:26:14.930797
224     2522      905       5 2019-03-11 12:26:14.930797
225     2533      126       5 2019-03-11 14:12:53.949222
226        1     1526       5 2019-03-18 12:26:14.930797
227        1     1420       5 2019-03-18 12:26:14.930797
228        1     1387       5 2019-03-18 12:26:14.930797
229        1     1384       5 2019-03-18 12:26:14.930797
230        1     1385       5 2019-03-18 12:26:14.930797
231        1     1374       5 2019-03-17 12:26:14.930797
232        1     1308       4 2019-03-18 12:26:14.930797
233        1     1210       5 2019-03-18 12:26:14.930797

[234 rows x 4 columns]

In [135]:
i1 = df_books.set_index('book_id').index
i2 = df.set_index('book_id').index
books = df_books[~i1.isin(i2)]

In [136]:
books

     book_id
0         21
1         22
2         23
3         34
4         40
5         42
6         43
7         60
8         61
9         62
10        64
11        66
12        67
13        68
14        69
15        70
16        71
17        72
18        73
19        74
20        75
21        76
22        78
23        79
24        80
25        81
26        82
27        83
28        84
29        85
..       ...
836     2258
837     2273
838     2274
839     2275
840     2276
841     2277
842     2335
843     2336
844     2337
845     2339
846     2341
847     2343
848     2344
849     2345
850     2359
851     2360
852     2384
853     2386
854     2462
855     2463
856     2464
857     2468
858     2469
859     2470
860     2471
861     2472
862     2473
863     2474
864     2475
865     2476

[818 rows x 1 columns]

In [137]:
rows, column = books.shape
empty_array = np.zeros((rows, 1))
unrated_books = np.hstack((empty_array, books.values, empty_array, empty_array))
unrated_books = pd.DataFrame(unrated_books)
unrated_books.columns = ['user_id', 'book_id', 'rating', 'date_created']

df = df.append(unrated_books, ignore_index=True)
df.shape

(1052, 4)

In [138]:
df

      user_id  book_id  rating                date_created
0      2292.0    360.0     5.0  2019-03-11 12:26:14.930797
1      2293.0    360.0     5.0  2019-03-11 12:26:14.930797
2      2294.0    360.0     5.0  2019-03-11 12:26:14.930797
3      2297.0    655.0     4.0  2019-03-11 12:26:14.930797
4      2295.0    360.0     5.0  2019-03-11 12:26:14.930797
5      2307.0    777.0     5.0  2019-03-11 12:26:14.930797
6      2296.0    360.0     4.0  2019-03-11 12:26:14.930797
7      2297.0    360.0     4.0  2019-03-11 12:26:14.930797
8      2298.0    360.0     5.0  2019-03-11 12:26:14.930797
9      2318.0    780.0     5.0  2019-03-11 12:26:14.930797
10     2293.0    655.0     5.0  2019-03-11 12:26:14.930797
11     2294.0    655.0     5.0  2019-03-11 12:26:14.930797
12     2352.0    795.0     5.0  2019-03-11 12:26:14.930797
13     2292.0    655.0     5.0  2019-03-11 12:26:14.930797
14     2295.0    655.0     5.0  2019-03-11 12:26:14.930797
15     2296.0    655.0     4.0  2019-03-11 12:26:14.930797
16     2501.0    899.0     5.0  2019-03-11 12:26:14.930797
17     2502.0    899.0     5.0  2019-03-11 12:26:14.930797
18     2503.0    899.0     5.0  2019-03-11 12:26:14.930797
19     2298.0    655.0     5.0  2019-03-11 12:26:14.930797
20     2300.0    777.0     5.0  2019-03-11 12:26:14.930797
21     2308.0    778.0     5.0  2019-03-11 12:26:14.930797
22     2301.0    777.0     5.0  2019-03-11 12:26:14.930797
23     2302.0    777.0     3.0  2019-03-11 12:26:14.930797
24     2303.0    777.0     5.0  2019-03-11 12:26:14.930797
25     2304.0    777.0     5.0  2019-03-11 12:26:14.930797
26     2305.0    777.0     5.0  2019-03-11 12:26:14.930797
27     2504.0    899.0     5.0  2019-03-11 12:26:14.930797
28     2505.0    899.0     4.0  2019-03-11 12:26:14.930797
29     2306.0    777.0     5.0  2019-03-11 12:26:14.930797
...       ...      ...     ...                         ...
1022      0.0   2258.0     0.0                           0
1023      0.0   2273.0     0.0                           0
1024      0.0   2274.0     0.0                           0
1025      0.0   2275.0     0.0                           0
1026      0.0   2276.0     0.0                           0
1027      0.0   2277.0     0.0                           0
1028      0.0   2335.0     0.0                           0
1029      0.0   2336.0     0.0                           0
1030      0.0   2337.0     0.0                           0
1031      0.0   2339.0     0.0                           0
1032      0.0   2341.0     0.0                           0
1033      0.0   2343.0     0.0                           0
1034      0.0   2344.0     0.0                           0
1035      0.0   2345.0     0.0                           0
1036      0.0   2359.0     0.0                           0
1037      0.0   2360.0     0.0                           0
1038      0.0   2384.0     0.0                           0
1039      0.0   2386.0     0.0                           0
1040      0.0   2462.0     0.0                           0
1041      0.0   2463.0     0.0                           0
1042      0.0   2464.0     0.0                           0
1043      0.0   2468.0     0.0                           0
1044      0.0   2469.0     0.0                           0
1045      0.0   2470.0     0.0                           0
1046      0.0   2471.0     0.0                           0
1047      0.0   2472.0     0.0                           0
1048      0.0   2473.0     0.0                           0
1049      0.0   2474.0     0.0                           0
1050      0.0   2475.0     0.0                           0
1051      0.0   2476.0     0.0                           0

[1052 rows x 4 columns]

### Reading Dataset and splitting it in a training set and a test set

In [139]:
y = df.date_created
df = df.drop('date_created', axis=1)

df.columns = ['user', 'book', 'rating']

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2)

train_data = X_train
test_data = X_test

In [140]:
train_data

        user    book  rating
564      0.0   512.0     0.0
640      0.0   688.0     0.0
773      0.0   977.0     0.0
488      0.0   424.0     0.0
480      0.0   415.0     0.0
331      0.0   168.0     0.0
822      0.0  1080.0     0.0
500      0.0   437.0     0.0
482      0.0   417.0     0.0
226      1.0  1526.0     5.0
166   2450.0   664.0     2.0
613      0.0   631.0     0.0
758      0.0   956.0     0.0
165   2442.0   664.0     3.0
29    2306.0   777.0     5.0
814      0.0  1062.0     0.0
115   2386.0   375.0     5.0
218   2516.0   905.0     5.0
893      0.0  1260.0     0.0
36    2312.0   778.0     5.0
922      0.0  1370.0     0.0
84    2338.0   793.0     5.0
100   2360.0   796.0     5.0
11    2294.0   655.0     5.0
286      0.0   114.0     0.0
635      0.0   682.0     0.0
280      0.0   108.0     0.0
143   2446.0   664.0     5.0
229      1.0  1384.0     5.0
291      0.0   119.0     0.0
...      ...     ...     ...
601      0.0   599.0     0.0
800      0.0  1025.0     0.0
9     2318.0   780.0     5.0
443      0.0   369.0     0.0
68    2334.0   791.0     5.0
756      0.0   954.0     0.0
413      0.0   335.0     0.0
969      0.0  1747.0     0.0
1032     0.0  2341.0     0.0
799      0.0  1024.0     0.0
476      0.0   410.0     0.0
478      0.0   413.0     0.0
767      0.0   967.0     0.0
295      0.0   124.0     0.0
932      0.0  1510.0     0.0
792      0.0  1007.0     0.0
357      0.0   204.0     0.0
1039     0.0  2386.0     0.0
253      0.0    74.0     0.0
369      0.0   250.0     0.0
811      0.0  1059.0     0.0
34    2507.0   906.0     5.0
870      0.0  1187.0     0.0
770      0.0   972.0     0.0
382      0.0   292.0     0.0
265      0.0    88.0     0.0
718      0.0   912.0     0.0
320      0.0   157.0     0.0
306      0.0   143.0     0.0
78    2340.0   793.0     5.0

[841 rows x 3 columns]

In [141]:
num_books = df.book.nunique()
num_users = df.user.nunique()

print("USERS: {} BOOKS: {}".format(num_users, num_books))

USERS: 149 BOOKS: 866

### Loading training set with three columns: user, book and ratings

In [142]:
# Normalize in [0, 1]

u = df['user'].values.astype(float)

user_min = u.min()
user_range = u.max() - u.min()

In [143]:
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(u.reshape(-1,1))
df_normalized = pd.DataFrame(x_scaled)
df['user'] = df_normalized

In [144]:
df

          user    book  rating
0     0.904856   360.0     5.0
1     0.905251   360.0     5.0
2     0.905645   360.0     5.0
3     0.906830   655.0     4.0
4     0.906040   360.0     5.0
5     0.910778   777.0     5.0
6     0.906435   360.0     4.0
7     0.906830   360.0     4.0
8     0.907225   360.0     5.0
9     0.915120   780.0     5.0
10    0.905251   655.0     5.0
11    0.905645   655.0     5.0
12    0.928543   795.0     5.0
13    0.904856   655.0     5.0
14    0.906040   655.0     5.0
15    0.906435   655.0     4.0
16    0.987367   899.0     5.0
17    0.987762   899.0     5.0
18    0.988156   899.0     5.0
19    0.907225   655.0     5.0
20    0.908014   777.0     5.0
21    0.911173   778.0     5.0
22    0.908409   777.0     5.0
23    0.908804   777.0     3.0
24    0.909199   777.0     5.0
25    0.909593   777.0     5.0
26    0.909988   777.0     5.0
27    0.988551   899.0     5.0
28    0.988946   899.0     4.0
29    0.910383   777.0     5.0
...        ...     ...     ...
1022  0.000000  2258.0     0.0
1023  0.000000  2273.0     0.0
1024  0.000000  2274.0     0.0
1025  0.000000  2275.0     0.0
1026  0.000000  2276.0     0.0
1027  0.000000  2277.0     0.0
1028  0.000000  2335.0     0.0
1029  0.000000  2336.0     0.0
1030  0.000000  2337.0     0.0
1031  0.000000  2339.0     0.0
1032  0.000000  2341.0     0.0
1033  0.000000  2343.0     0.0
1034  0.000000  2344.0     0.0
1035  0.000000  2345.0     0.0
1036  0.000000  2359.0     0.0
1037  0.000000  2360.0     0.0
1038  0.000000  2384.0     0.0
1039  0.000000  2386.0     0.0
1040  0.000000  2462.0     0.0
1041  0.000000  2463.0     0.0
1042  0.000000  2464.0     0.0
1043  0.000000  2468.0     0.0
1044  0.000000  2469.0     0.0
1045  0.000000  2470.0     0.0
1046  0.000000  2471.0     0.0
1047  0.000000  2472.0     0.0
1048  0.000000  2473.0     0.0
1049  0.000000  2474.0     0.0
1050  0.000000  2475.0     0.0
1051  0.000000  2476.0     0.0

[1052 rows x 3 columns]

In [145]:
b = df['book'].values.astype(float)

book_min = b.min()
book_range = b.max() - b.min()

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(b.reshape(-1,1))
df_normalized = pd.DataFrame(x_scaled)
df['book'] = df_normalized
df

          user      book  rating
0     0.904856  0.138086     5.0
1     0.905251  0.138086     5.0
2     0.905645  0.138086     5.0
3     0.906830  0.258248     4.0
4     0.906040  0.138086     5.0
5     0.910778  0.307943     5.0
6     0.906435  0.138086     4.0
7     0.906830  0.138086     4.0
8     0.907225  0.138086     5.0
9     0.915120  0.309165     5.0
10    0.905251  0.258248     5.0
11    0.905645  0.258248     5.0
12    0.928543  0.315275     5.0
13    0.904856  0.258248     5.0
14    0.906040  0.258248     5.0
15    0.906435  0.258248     4.0
16    0.987367  0.357637     5.0
17    0.987762  0.357637     5.0
18    0.988156  0.357637     5.0
19    0.907225  0.258248     5.0
20    0.908014  0.307943     5.0
21    0.911173  0.308350     5.0
22    0.908409  0.307943     5.0
23    0.908804  0.307943     3.0
24    0.909199  0.307943     5.0
25    0.909593  0.307943     5.0
26    0.909988  0.307943     5.0
27    0.988551  0.357637     5.0
28    0.988946  0.357637     4.0
29    0.910383  0.307943     5.0
...        ...       ...     ...
1022  0.000000  0.911202     0.0
1023  0.000000  0.917312     0.0
1024  0.000000  0.917719     0.0
1025  0.000000  0.918126     0.0
1026  0.000000  0.918534     0.0
1027  0.000000  0.918941     0.0
1028  0.000000  0.942566     0.0
1029  0.000000  0.942974     0.0
1030  0.000000  0.943381     0.0
1031  0.000000  0.944196     0.0
1032  0.000000  0.945010     0.0
1033  0.000000  0.945825     0.0
1034  0.000000  0.946232     0.0
1035  0.000000  0.946640     0.0
1036  0.000000  0.952342     0.0
1037  0.000000  0.952749     0.0
1038  0.000000  0.962525     0.0
1039  0.000000  0.963340     0.0
1040  0.000000  0.994297     0.0
1041  0.000000  0.994705     0.0
1042  0.000000  0.995112     0.0
1043  0.000000  0.996741     0.0
1044  0.000000  0.997149     0.0
1045  0.000000  0.997556     0.0
1046  0.000000  0.997963     0.0
1047  0.000000  0.998371     0.0
1048  0.000000  0.998778     0.0
1049  0.000000  0.999185     0.0
1050  0.000000  0.999593     0.0
1051  0.000000  1.000000     0.0

[1052 rows x 3 columns]

In [146]:
r = df['rating'].values.astype(float)

rating_min = r.min()
rating_range = r.max() - r.min()

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(r.reshape(-1,1))
df_normalized = pd.DataFrame(x_scaled)
df['rating'] = df_normalized
df

          user      book  rating
0     0.904856  0.138086     1.0
1     0.905251  0.138086     1.0
2     0.905645  0.138086     1.0
3     0.906830  0.258248     0.8
4     0.906040  0.138086     1.0
5     0.910778  0.307943     1.0
6     0.906435  0.138086     0.8
7     0.906830  0.138086     0.8
8     0.907225  0.138086     1.0
9     0.915120  0.309165     1.0
10    0.905251  0.258248     1.0
11    0.905645  0.258248     1.0
12    0.928543  0.315275     1.0
13    0.904856  0.258248     1.0
14    0.906040  0.258248     1.0
15    0.906435  0.258248     0.8
16    0.987367  0.357637     1.0
17    0.987762  0.357637     1.0
18    0.988156  0.357637     1.0
19    0.907225  0.258248     1.0
20    0.908014  0.307943     1.0
21    0.911173  0.308350     1.0
22    0.908409  0.307943     1.0
23    0.908804  0.307943     0.6
24    0.909199  0.307943     1.0
25    0.909593  0.307943     1.0
26    0.909988  0.307943     1.0
27    0.988551  0.357637     1.0
28    0.988946  0.357637     0.8
29    0.910383  0.307943     1.0
...        ...       ...     ...
1022  0.000000  0.911202     0.0
1023  0.000000  0.917312     0.0
1024  0.000000  0.917719     0.0
1025  0.000000  0.918126     0.0
1026  0.000000  0.918534     0.0
1027  0.000000  0.918941     0.0
1028  0.000000  0.942566     0.0
1029  0.000000  0.942974     0.0
1030  0.000000  0.943381     0.0
1031  0.000000  0.944196     0.0
1032  0.000000  0.945010     0.0
1033  0.000000  0.945825     0.0
1034  0.000000  0.946232     0.0
1035  0.000000  0.946640     0.0
1036  0.000000  0.952342     0.0
1037  0.000000  0.952749     0.0
1038  0.000000  0.962525     0.0
1039  0.000000  0.963340     0.0
1040  0.000000  0.994297     0.0
1041  0.000000  0.994705     0.0
1042  0.000000  0.995112     0.0
1043  0.000000  0.996741     0.0
1044  0.000000  0.997149     0.0
1045  0.000000  0.997556     0.0
1046  0.000000  0.997963     0.0
1047  0.000000  0.998371     0.0
1048  0.000000  0.998778     0.0
1049  0.000000  0.999185     0.0
1050  0.000000  0.999593     0.0
1051  0.000000  1.000000     0.0

[1052 rows x 3 columns]

### Convert DataFrame in user-item matrix

In [147]:
matrix = df.pivot(index='user', columns='book', values='rating')
matrix.fillna(0, inplace=True)

In [148]:
matrix.shape

(149, 866)

In [149]:
for user in range(0, 148):
    for book in range(0, 865):
        if matrix.iloc[user, book] != 0.0:
            print(user,book, matrix.iloc[user,book])

1 693 1.0
1 708 0.8
1 734 1.0
1 735 1.0
1 736 1.0
1 738 1.0
1 743 1.0
1 746 1.0
2 202 1.0
2 399 1.0
2 400 1.0
3 202 1.0
3 399 1.0
3 400 1.0
4 202 1.0
4 399 1.0
4 400 1.0
5 202 1.0
5 399 1.0
5 400 1.0
6 202 0.8
6 399 0.8
6 400 0.8
7 202 0.8
7 399 0.8
7 400 0.8
8 202 1.0
8 399 1.0
8 400 1.0
9 455 1.0
9 456 1.0
9 466 1.0
9 467 1.0
9 469 1.0
9 473 1.0
10 455 1.0
10 457 1.0
10 458 1.0
11 455 0.6000000000000001
11 456 0.8
11 471 1.0
11 472 1.0
12 455 1.0
13 455 1.0
14 455 1.0
15 455 1.0
16 455 1.0
16 458 1.0
17 456 1.0
18 456 1.0
18 458 1.0
19 456 1.0
20 456 1.0
21 456 1.0
22 456 1.0
23 458 1.0
23 459 1.0
24 458 1.0
25 458 1.0
26 458 1.0
27 458 1.0
27 465 1.0
28 504 0.8
29 466 0.4
29 471 0.6000000000000001
30 466 0.8
31 466 1.0
32 466 1.0
32 468 1.0
32 515 1.0
33 466 0.8
34 466 1.0
35 466 1.0
36 468 1.0
37 468 0.8
38 468 1.0
39 468 0.6000000000000001
40 468 0.8
41 468 0.8
41 469 0.8
42 468 0.8
42 469 0.6000000000000001
43 469 1.0
44 469 1.0
45 469 0.8
46 469 1.0
47 469 1.0
47 470 1.0
48 490 0.6000000000000001
48 509 0.6000000000000001
49 470 1.0
50 470 1.0
51 470 1.0
52 470 1.0
53 470 1.0
54 470 1.0
55 470 1.0
56 471 0.4
57 219 1.0
57 221 0.8
57 223 0.4
57 403 0.8
57 410 1.0
57 412 1.0
57 414 0.8
57 416 0.4
57 471 1.0
57 472 1.0
57 473 1.0
58 471 0.6000000000000001
58 473 0.6000000000000001
59 471 1.0
60 471 0.4
61 471 1.0
62 472 1.0
63 472 0.6000000000000001
64 472 1.0
65 472 0.6000000000000001
66 472 0.4
67 472 1.0
68 215 1.0
69 473 0.8
70 473 0.8
71 473 1.0
72 473 1.0
73 473 0.8
74 217 1.0
74 223 1.0
74 403 1.0
74 409 1.0
74 416 1.0
75 217 1.0
75 404 1.0
75 409 1.0
76 217 1.0
76 409 1.0
77 217 0.8
77 404 0.6000000000000001
77 405 0.6000000000000001
77 409 0.8
78 217 1.0
78 409 1.0
79 217 1.0
79 403 0.8
79 409 1.0
80 217 1.0
80 409 1.0
81 217 1.0
81 409 1.0
82 260 1.0
83 221 0.8
83 413 1.0
83 414 0.8
84 221 0.8
84 412 0.8
84 413 0.8
84 414 0.8
85 221 0.8
85 414 0.8
86 221 0.8
86 414 0.8
87 221 0.6000000000000001
87 414 0.6000000000000001
88 221 1.0
88 414 1.0
89 221 0.8
89 414 0.8
90 223 0.2
90 416 0.2
91 223 0.4
91 416 0.4
92 223 0.6000000000000001
92 416 0.6000000000000001
93 223 0.4
93 416 0.4
94 223 0.8
94 416 0.8
95 223 0.6000000000000001
95 416 0.6000000000000001
96 412 1.0
97 403 0.6000000000000001
98 403 1.0
99 403 1.0
100 403 0.4
101 403 0.6000000000000001
102 404 0.8
102 405 0.6000000000000001
103 404 1.0
104 404 1.0
105 404 1.0
106 404 1.0
106 405 1.0
107 404 0.8
108 405 0.4
109 405 1.0
110 405 1.0
111 405 1.0
112 405 0.8
113 412 0.8
114 412 1.0
115 412 0.8
116 412 1.0
117 412 1.0
118 413 1.0
119 413 1.0
120 413 0.6000000000000001
121 413 0.8
122 413 1.0
123 413 0.8
124 514 1.0
125 514 1.0
126 514 1.0
127 514 1.0
128 514 0.8
129 514 1.0
130 514 0.8
131 514 1.0
132 515 1.0
133 515 0.6000000000000001
134 515 1.0
135 515 1.0
136 515 1.0
137 515 1.0
138 515 0.8
139 519 1.0
140 518 1.0
141 518 1.0
142 518 1.0
143 518 1.0
144 518 1.0
145 518 1.0
146 518 0.8
147 518 1.0

### Users and items ordered as they are in matrix

In [150]:
users = matrix.index.tolist()
books = matrix.columns.tolist()

matrix = matrix.values

print("Matrix shape: {}".format(matrix.shape))

Matrix shape: (149, 866)

### Network Parameters

In [151]:
num_input = num_books   # num of items
num_hidden_1 = 10       # 1st layer num features
num_hidden_2 = 5        # 2nd layer num features (the latent dim)

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

### Building the encoder

In [152]:
def encoder(x):
    # Encoder Hidden layer with sigmoid activation #1
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    # Encoder Hidden layer with sigmoid activation #2
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

### Building the decoder

In [153]:
def decoder(x):
    # Decoder Hidden layer with sigmoid activation #1
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    # Decoder Hidden layer with sigmoid activation #2
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

### Construct model

In [154]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)

### Prediction

In [155]:
y_pred = decoder_op

### Targets are the input data.

In [156]:
y_true = X

### Define loss and optimizer, minimize the squared error

In [157]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(learning_rate).minimize(loss)

predictions = pd.DataFrame()

### Define evaluation metrics

In [158]:
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

### Initialize the variables

In [159]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()

### Train the Model

In [160]:
with tf.Session() as session:
    session.run(init)
    session.run(local_init)

    num_batches = int(matrix.shape[0] / batch_size)
    matrix = np.array_split(matrix, num_batches)

    for i in range(epochs):

        avg_cost = 0

        for batch in matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("Epoch: {} Loss: {}".format(i + 1, avg_cost))

        # if i % display_step == 0 or i == 1:
        #     print('Step %i: Minibatch Loss: %f' % (i, l))

    print("Predictions...")

    matrix = np.concatenate(matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: matrix})

    # print(matrix)
    # print(preds)
    
    predictions = predictions.append(pd.DataFrame(preds))

    predictions = predictions.stack().reset_index(name='rating')
    predictions.columns = ['user', 'book', 'rating']
    predictions['user'] = predictions['user'].map(lambda value: users[value])
    predictions['book'] = predictions['book'].map(lambda value: books[value])

    print(predictions)
    print(predictions.shape)
    
    keys = ['user', 'book']
    i1 = predictions.set_index(keys).index
    i2 = df.set_index(keys).index

    recs = predictions
    recs = recs.sort_values(['user', 'rating'], ascending=[True, False])
    recs = recs.groupby('user').head(k)
    recs.to_csv('prediction.csv', sep=',', index=False, header=False)

Epoch: 1 Loss: 0.36583629846572874
Epoch: 2 Loss: 0.3649981677532196
Epoch: 3 Loss: 0.3639024317264557
Epoch: 4 Loss: 0.3624683678150177
Epoch: 5 Loss: 0.36059013605117796
Epoch: 6 Loss: 0.35812965631484983
Epoch: 7 Loss: 0.35490967631340026
Epoch: 8 Loss: 0.3507173717021942
Epoch: 9 Loss: 0.34533209800720216
Epoch: 10 Loss: 0.3386188566684723
Epoch: 11 Loss: 0.3306865692138672
Epoch: 12 Loss: 0.321924215555191
Epoch: 13 Loss: 0.3126800417900085
Epoch: 14 Loss: 0.3029721021652222
Epoch: 15 Loss: 0.2926967978477478
Epoch: 16 Loss: 0.2822574138641357
Epoch: 17 Loss: 0.2723504066467285
Epoch: 18 Loss: 0.2618617057800293
Epoch: 19 Loss: 0.24895212352275847
Epoch: 20 Loss: 0.23211152851581573
Predictions...
        user      book    rating
0        0.0  0.000000  0.457678
1        0.0  0.000407  0.313247
2        0.0  0.000815  0.106197
3        0.0  0.005295  0.115287
4        0.0  0.007739  0.270109
5        0.0  0.008554  0.405806
6        0.0  0.008961  0.311619
7        0.0  0.015886  0.277041
8        0.0  0.016293  0.621891
9        0.0  0.016701  0.142772
10       0.0  0.017515  0.494552
11       0.0  0.018330  0.239954
12       0.0  0.018737  0.314751
13       0.0  0.019145  0.085021
14       0.0  0.019552  0.230850
15       0.0  0.019959  0.423956
16       0.0  0.020367  0.233642
17       0.0  0.020774  0.675349
18       0.0  0.021181  0.710069
19       0.0  0.021589  0.136707
20       0.0  0.021996  0.768604
21       0.0  0.022403  0.522251
22       0.0  0.023218  0.402341
23       0.0  0.023625  0.401784
24       0.0  0.024033  0.217959
25       0.0  0.024440  0.068216
26       0.0  0.024847  0.771389
27       0.0  0.025255  0.937709
28       0.0  0.025662  0.230799
29       0.0  0.026069  0.271882
...      ...       ...       ...
129004   1.0  0.911202  0.698473
129005   1.0  0.917312  0.740855
129006   1.0  0.917719  0.173971
129007   1.0  0.918126  0.486053
129008   1.0  0.918534  0.198955
129009   1.0  0.918941  0.661968
129010   1.0  0.942566  0.787592
129011   1.0  0.942974  0.343666
129012   1.0  0.943381  0.161084
129013   1.0  0.944196  0.313424
129014   1.0  0.945010  0.227582
129015   1.0  0.945825  0.309637
129016   1.0  0.946232  0.131511
129017   1.0  0.946640  0.571365
129018   1.0  0.952342  0.442728
129019   1.0  0.952749  0.316966
129020   1.0  0.962525  0.100314
129021   1.0  0.963340  0.181497
129022   1.0  0.994297  0.578397
129023   1.0  0.994705  0.452196
129024   1.0  0.995112  0.180610
129025   1.0  0.996741  0.227661
129026   1.0  0.997149  0.618444
129027   1.0  0.997556  0.461819
129028   1.0  0.997963  0.383665
129029   1.0  0.998371  0.495500
129030   1.0  0.998778  0.235962
129031   1.0  0.999185  0.437064
129032   1.0  0.999593  0.194733
129033   1.0  1.000000  0.386857

[129034 rows x 3 columns]
(129034, 3)

In [161]:
recs['user'] = recs['user'] * user_range + user_min
recs['book'] = recs['book'] * book_range + book_min
print(user_min)
recs.sort_values(['user', 'rating'], ascending=[True, False])

0.0

          user    book    rating
830        0.0  2222.0  0.962578
628        0.0  1080.0  0.962555
786        0.0  1750.0  0.958704
825        0.0  2152.0  0.950810
809        0.0  2090.0  0.944616
27         0.0    83.0  0.937709
745        0.0  1510.0  0.935604
151        0.0   303.0  0.933667
776        0.0  1693.0  0.930339
381        0.0   612.0  0.927263
136        0.0   250.0  0.920440
70         0.0   140.0  0.919793
435        0.0   716.0  0.917732
793        0.0  1843.0  0.911615
823        0.0  2150.0  0.911073
137        0.0   257.0  0.910901
369        0.0   580.0  0.907715
375        0.0   599.0  0.907436
619        0.0  1061.0  0.904674
355        0.0   536.0  0.901887
622        0.0  1064.0  0.892720
638        0.0  1093.0  0.888988
665        0.0  1158.0  0.883398
649        0.0  1129.0  0.877045
473        0.0   797.0  0.874256
593        0.0  1002.0  0.873989
832        0.0  2225.0  0.870747
73         0.0   143.0  0.868176
432        0.0   709.0  0.865349
310        0.0   476.0  0.863594
...        ...     ...       ...
128353  2533.0   342.0  0.077024
128985  2533.0  2102.0  0.073925
128703  2533.0   925.0  0.071099
128371  2533.0   361.0  0.070825
128217  2533.0   111.0  0.070035
128511  2533.0   517.0  0.069694
128896  2533.0  1368.0  0.069298
128193  2533.0    81.0  0.068610
128966  2533.0  1853.0  0.068240
128762  2533.0  1003.0  0.064427
128733  2533.0   957.0  0.063756
128384  2533.0   374.0  0.062281
128927  2533.0  1573.0  0.060663
128366  2533.0   355.0  0.058151
128949  2533.0  1742.0  0.058052
128569  2533.0   660.0  0.058011
128727  2533.0   951.0  0.057239
128354  2533.0   343.0  0.056274
128554  2533.0   628.0  0.051848
128895  2533.0  1367.0  0.049826
128550  2533.0   613.0  0.047713
128649  2533.0   805.0  0.046633
128696  2533.0   916.0  0.042755
128250  2533.0   152.0  0.036380
128771  2533.0  1017.0  0.031077
128869  2533.0  1301.0  0.030525
128427  2533.0   421.0  0.024182
128388  2533.0   379.0  0.023367
128365  2533.0   354.0  0.017740
128615  2533.0   759.0  0.006392

[129034 rows x 3 columns]

In [162]:
recs.loc[recs['user'] == 2380]

         user    book    rating
64914  2380.0  2222.0  0.944172
64235  2380.0   303.0  0.940229
64712  2380.0  1080.0  0.938972
64870  2380.0  1750.0  0.936113
64829  2380.0  1510.0  0.934473
64909  2380.0  2152.0  0.933772
64893  2380.0  2090.0  0.931682
64465  2380.0   612.0  0.927003
64907  2380.0  2150.0  0.926271
64860  2380.0  1693.0  0.924538
64439  2380.0   536.0  0.918536
64516  2380.0   709.0  0.918486
64111  2380.0    83.0  0.914640
64877  2380.0  1843.0  0.913878
64459  2380.0   599.0  0.905406
64453  2380.0   580.0  0.903457
64519  2380.0   716.0  0.903439
64733  2380.0  1129.0  0.895056
64154  2380.0   140.0  0.893658
64221  2380.0   257.0  0.891050
64530  2380.0   750.0  0.882068
64749  2380.0  1158.0  0.879969
64220  2380.0   250.0  0.875918
64703  2380.0  1061.0  0.874955
64706  2380.0  1064.0  0.871396
64745  2380.0  1154.0  0.865307
64157  2380.0   143.0  0.863107
64370  2380.0   449.0  0.855921
64818  2380.0  1374.0  0.855009
64447  2380.0   553.0  0.853941
...       ...     ...       ...
64548  2380.0   786.0  0.082192
64901  2380.0  2102.0  0.081960
64598  2380.0   898.0  0.079468
64895  2380.0  2096.0  0.078251
64678  2380.0  1003.0  0.073643
64296  2380.0   370.0  0.072257
64269  2380.0   342.0  0.070769
64843  2380.0  1573.0  0.069373
64476  2380.0   638.0  0.069263
64649  2380.0   957.0  0.068271
64470  2380.0   628.0  0.067560
64466  2380.0   613.0  0.066863
64133  2380.0   111.0  0.064878
64865  2380.0  1742.0  0.061466
64287  2380.0   361.0  0.058370
64806  2380.0  1362.0  0.057603
64300  2380.0   374.0  0.055603
64282  2380.0   355.0  0.054527
64612  2380.0   916.0  0.052916
64811  2380.0  1367.0  0.052456
64270  2380.0   343.0  0.052003
64565  2380.0   805.0  0.049498
64485  2380.0   660.0  0.048024
64166  2380.0   152.0  0.046662
64785  2380.0  1301.0  0.037086
64687  2380.0  1017.0  0.036311
64304  2380.0   379.0  0.026978
64343  2380.0   421.0  0.022019
64281  2380.0   354.0  0.019509
64531  2380.0   759.0  0.008765

[866 rows x 3 columns]

In [163]:
recs.loc[recs['user'] == 2380]['book'].shape

(866,)

In [164]:
user_2380_top = recs.loc[recs['user'] == 2380].head(20)

expected_2380_book_ids = [382,670,662,375,677];
for x in expected_2380_book_ids:
    if x not in user_2380_top['book'].values.round(): 
        print(f'Couldn\'t find {x} for user 2380')

Couldn't find 382 for user 2380
Couldn't find 670 for user 2380
Couldn't find 662 for user 2380
Couldn't find 375 for user 2380
Couldn't find 677 for user 2380

In [23]:
recs.loc[recs['user'] == 1]

      user    book    rating
1391   1.0   913.0  0.989935
1589   1.0  1363.0  0.984772
966    1.0   170.0  0.983759
1520   1.0  1141.0  0.982608
1731   1.0  2476.0  0.978708
1486   1.0  1062.0  0.976282
1204   1.0   512.0  0.975342
1286   1.0   682.0  0.972632
1250   1.0   619.0  0.964075
1713   1.0  2343.0  0.963863
1470   1.0  1019.0  0.963098
1668   1.0  2047.0  0.959582
1600   1.0  1374.0  0.958199
1692   1.0  2214.0  0.957667
1563   1.0  1244.0  0.957469
882    1.0    71.0  0.956939
1395   1.0   917.0  0.955314
1152   1.0   449.0  0.950586
1730   1.0  2475.0  0.946614
940    1.0   144.0  0.946354
1442   1.0   972.0  0.943957
1210   1.0   518.0  0.943596
1524   1.0  1146.0  0.940693
1456   1.0   991.0  0.937715
1426   1.0   952.0  0.934971
1724   1.0  2469.0  0.932006
1653   1.0  1752.0  0.925996
1449   1.0   982.0  0.925864
1710   1.0  2337.0  0.925703
1182   1.0   483.0  0.924600
...    ...     ...       ...
1375   1.0   836.0  0.068930
1159   1.0   457.0  0.064621
1550   1.0  1195.0  0.064020
1400   1.0   923.0  0.061979
1601   1.0  1384.0  0.061794
1104   1.0   399.0  0.057380
1138   1.0   435.0  0.057143
1157   1.0   455.0  0.057109
1444   1.0   976.0  0.055020
1227   1.0   551.0  0.054505
1603   1.0  1386.0  0.053874
1266   1.0   656.0  0.053237
1504   1.0  1093.0  0.049133
1498   1.0  1087.0  0.046656
1374   1.0   835.0  0.046089
1299   1.0   710.0  0.045376
1291   1.0   688.0  0.045288
902    1.0    96.0  0.044738
1242   1.0   601.0  0.044254
988    1.0   202.0  0.042017
1368   1.0   829.0  0.041159
1397   1.0   919.0  0.038592
1339   1.0   797.0  0.037297
1530   1.0  1157.0  0.036602
1392   1.0   914.0  0.035425
881    1.0    70.0  0.035058
1092   1.0   386.0  0.032299
1709   1.0  2336.0  0.032171
1238   1.0   590.0  0.030910
950    1.0   154.0  0.027003

[866 rows x 3 columns]

In [24]:
recs.loc[recs['user'] == 1]['book'].shape

(866,)

In [25]:
user_1_top = recs.loc[recs['user'] == 1]

expected_1_book_ids = [1387,1374,1420,1526,1308,1384,1210,1385];
for x in expected_1_book_ids:
    if x not in user_1_top['book'].values.round(): 
        print(f'Couldn\'t find {x} for user 1')